<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @push.channel %>
</p>

<p>
  <strong>Event:</strong>
  <%= @push.event %>
</p>

<p>
  <strong>User list:</strong>
  <%= @push.user_list %>
</p>

<%= link_to 'Edit', edit_push_path(@push) %> |
<%= link_to 'Back', pushes_path %>
