<%= form_for(@geofencing) do |f| %>
  <% if @geofencing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geofencing.errors.count, "error") %> prohibited this geofencing from being saved:</h2>

      <ul>
      <% @geofencing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :entrance_id %><br>
    <%= f.number_field :entrance_id %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
