<h1>Listing geofencings</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Entrance</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geofencings.each do |geofencing| %>
      <tr>
        <td><%= geofencing.nombre %></td>
        <td><%= geofencing.entrance_id %></td>
        <td><%= geofencing.area %></td>
        <td><%= link_to 'Show', geofencing %></td>
        <td><%= link_to 'Edit', edit_geofencing_path(geofencing) %></td>
        <td><%= link_to 'Destroy', geofencing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geofencing', new_geofencing_path %>
