<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @geofencing.nombre %>
</p>

<p>
  <strong>Entrance:</strong>
  <%= @geofencing.entrance_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @geofencing.area %>
</p>

<%= link_to 'Edit', edit_geofencing_path(@geofencing) %> |
<%= link_to 'Back', geofencings_path %>
