<%= form_for(@iopush) do |f| %>
  <% if @iopush.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iopush.errors.count, "error") %> prohibited this iopush from being saved:</h2>

      <ul>
      <% @iopush.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.text_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
