<p id="notice"><%= notice %></p>

<h1>Listing Iopushes</h1>

<table>
  <thead>
    <tr>
      <th>Device</th>
      <th>User</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iopushes.each do |iopush| %>
      <tr>
        <td><%= iopush.device_id %></td>
        <td><%= iopush.user_id %></td>
        <td><%= iopush.token %></td>
        <td><%= link_to 'Show', iopush %></td>
        <td><%= link_to 'Edit', edit_iopush_path(iopush) %></td>
        <td><%= link_to 'Destroy', iopush, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iopush', new_iopush_path %>
