<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @iopush.device_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @iopush.user_id %>
</p>

<p>
  <strong>Token:</strong>
  <%= @iopush.token %>
</p>

<%= link_to 'Edit', edit_iopush_path(@iopush) %> |
<%= link_to 'Back', iopushes_path %>
