<%= form_for(@dashbutton) do |f| %>
  <% if @dashbutton.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dashbutton.errors.count, "error") %> prohibited this dashbutton from being saved:</h2>

      <ul>
      <% @dashbutton.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_owner %><br>
    <%= f.number_field :id_owner %>
  </div>
  <div class="field">
    <%= f.label :id_servicio %><br>
    <%= f.text_field :id_servicio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
