<h1>Listing dashbuttons</h1>

<table>
  <thead>
    <tr>
      <th>Id owner</th>
      <th>Id servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashbuttons.each do |dashbutton| %>
      <tr>
        <td><%= dashbutton.id_owner %></td>
        <td><%= dashbutton.id_servicio %></td>
        <td><%= link_to 'Show', dashbutton %></td>
        <td><%= link_to 'Edit', edit_dashbutton_path(dashbutton) %></td>
        <td><%= link_to 'Destroy', dashbutton, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashbutton', new_dashbutton_path %>
