<p id="notice"><%= notice %></p>

<p>
  <strong>Id owner:</strong>
  <%= @dashbutton.id_owner %>
</p>

<p>
  <strong>Id servicio:</strong>
  <%= @dashbutton.id_servicio %>
</p>

<%= link_to 'Edit', edit_dashbutton_path(@dashbutton) %> |
<%= link_to 'Back', dashbuttons_path %>
