<h1>Listing servicios</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Description</th>
      <th>Price</th>
      <th>Owner</th>
      <th>Tip</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicios.each do |servicio| %>
      <tr>
        <td><%= servicio.uid %></td>
        <td><%= servicio.description %></td>
        <td><%= servicio.price %></td>
        <td><%= servicio.owner_id %></td>
        <td><%= servicio.tip %></td>
        <td><%= servicio.category %></td>
        <td><%= link_to 'Show', servicio %></td>
        <td><%= link_to 'Edit', edit_servicio_path(servicio) %></td>
        <td><%= link_to 'Destroy', servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servicio', new_servicio_path %>
