<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @servicio.uid %>
</p>

<p>
  <strong>Description:</strong>
  <%= @servicio.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @servicio.price %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @servicio.owner_id %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @servicio.tip %>
</p>

<p>
  <strong>Category:</strong>
  <%= @servicio.category %>
</p>

<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path %>
