
<%= form_for(@beacon) do |f| %>
  <% if @beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>

      <ul>
      <% @beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<div class="row">

              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:new) %> <strong><%= t(:beacon) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                    <div class="well">
                      <span class="label label-success"><i class="fa fa-comment"></i></span>
                      <span>
                        
                      </span>
                    </div>
                    
                    
                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label class="control-label"><%= t(:name) %></label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          
                          <%= f.text_field :nombre,class: "form-control" %>
                          <p class="help-block">.</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label class="control-label"> UID</label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          
                          <%= f.text_field :uid,class: "form-control" %>
                          <p class="help-block">.</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="select1" class="control-label"> <%= t(:owner) %></label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        
                        <select name="beacon[owner]" id="beacon_owner" class="form-control" >
                        <option></option>
                        <% Entrance.all.each do |singleEntranceUser| %>
                          <option value="<%= singleEntranceUser.id %>" <% if singleEntranceUser.id==@beacon.owner %>selected <% end %>><%= singleEntranceUser.nombre %> <%= singleEntranceUser.apellido %></option>
                        <% end %>
                        
                        </select>
                         
                          <p class="help-block">.</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="select1" class="control-label"> <%= t(:plan) %></label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        
                        <select name="beacon[precios_id]" id="beacon_price" class="form-control" >
                        <option></option>
                        <% Precio.all.each do |singlePrecio| %>
                          <option value="<%= singlePrecio.id %>" <% if singlePrecio.id==@beacon.precios_id %>selected <% end %>><%= singlePrecio.nombre %></option>
                        <% end %>
                        
                        </select>
                         
                          <p class="help-block">.</p>
                        </div>
                      </div>
                      <div class="row">
                      
                      <div id='map' style="width:80%;height:350px;left:100px"></div>
                      <p class="help-block">.</p>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:latitude) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                            <%= f.text_field :latitud,class: "form-control" %>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:longitude) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                              
                              <%= f.text_field :longitud,class: "form-control" %>
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label">UID high</label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                            <%= f.text_field :uid_low,class: "form-control" %>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label">UID low</label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                              
                              <%= f.text_field :uid_high,class: "form-control" %>
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <script type="text/javascript">
                      var ciudades=[];
                      <% Place.all.each do |sc| %>
                      ciudades[<%= sc.id %>]=[<%= sc.latitude %>, <%= sc.longitude %>];
                       <% end %>

                      function someChange(){
                        var iid=$('#beacon_ciudad').val();
                         map.setView(ciudades[iid],12);
                      }
                      </script>
                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="select1" class="control-label"> <%= t(:city) %></label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        <% cities_array = Place.all.map { |city| [city.nombre, city.id] } %>
                        <select name="beacon[ciudad]" id="beacon_ciudad" class="form-control" onchange="someChange()">
                        
                        <% Place.all.each do |singlePlace| %>
                        <option value="<%=singlePlace.id%>" <% if singlePlace.id==@beacon.ciudad%>selected<%end%>><%=singlePlace.nombre%></option>
                        <% end %>
                        </select>
                         
                          <p class="help-block">.</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="textarea1" class="control-label">
                            <%= t(:description) %>
                            <small>Info</small>
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        <%= f.text_area :descripcion,class: "form-control" %>
                          <p class="help-block">.</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label class="control-label">
                            <%= t(:radio) %>
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          <%= f.text_field :radio,class: "form-control" %>
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label class="control-label">
                            <%= t(:active) %>
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          
                          <%= f.check_box :activo %>
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label class="control-label">
                            <%= t(:active) %> ijjo
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          
                          <%= f.check_box :ijjoapp %>
                          <p class="help-block">.</p>
                        </div>
                      </div>
                      
                      <div class="form-footer col-lg-offset-1 col-md-offset-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary"><%= t(:save) %></button>
                        
                      </div>
                    
                  </div>
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div><!--end .row -->
            <% end %>