<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @beacon.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @beacon.nombre %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @beacon.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @beacon.longitud %>
</p>

<p>
  <strong>Radio:</strong>
  <%= @beacon.radio %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @beacon.uid %>
</p>

<p>
  <strong>Uid low:</strong>
  <%= @beacon.uid_low %>
</p>

<p>
  <strong>Uid high:</strong>
  <%= @beacon.uid_high %>
</p>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
