










<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active">Template</li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Blank page <small>Handy when you need to create a new page</small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:listing) %> <strong> Templates</strong></h4></header>
                    <%= link_to 'New Mail template', new_mail_template_path %>
                  </div>
                  <div class="box-body">
                    <table class="table table-hover">
                      
  <thead>
    <tr>
      
      <th>Mensaje</th>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_templates.each do |mail_template| %>
      <tr>
        
        <td><%= mail_template.mensaje %></td>
        <td><%= mail_template.titulo %></td>
        <td><%= link_to 'Show', mail_template %></td>
        <td><%= link_to 'Edit', edit_mail_template_path(mail_template) %></td>
        <td><%= link_to 'Destroy', mail_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
          

  
    
 

<br>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->