<p id="notice"><%= notice %></p>

<p>
  <strong>Template:</strong>
  <%= @mail_template.template %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @mail_template.mensaje %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @mail_template.titulo %>
</p>

<%= link_to 'Edit', edit_mail_template_path(@mail_template) %> |
<%= link_to 'Back', mail_templates_path %>
