<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active"><%= t(:logs) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Blank page <small>Handy when you need to create a new page</small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:listing) %> <strong><%= t(:logs) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                  <%= notice %>
                  
                   <table class="table no-margin table-hover">
  <thead>
    <tr>
      <th>Fecha enviado</th>
      <th>Nombre cliente</th>
      <th>Campaña</th>
      <th>Ubicación beacon</th>
      <th>Fecha reclamado</th>
      <th></th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @analitica.each do |singleAnalitica| %>
    <% if Campaign.find_by_id(singleAnalitica.campaing_id)!=nil %>
      <tr>
        <td><%= singleAnalitica.created_at %></td>
        <td><%= Entrance.find_by_id(singleAnalitica.client_id).nombre %> <%= Entrance.find_by_id(singleAnalitica.client_id).apellido %></td>
        <td><%= Campaign.find_by_id(singleAnalitica.campaing_id).nombre %></td>
        <td><%= Beacon.find_by_id(singleAnalitica.beacons_id).nombre %></td>
        <td><%= singleAnalitica.rewardeddate %></td>
        <% if Entrance.find_by_id(session[:cuser]).superlevel>=1000 %>
        <td><a data-confirm="Are you sure?" href="javascript:destroyLog(<%= singleAnalitica.id %>)" rel="nofollow">Borrar</a></td>
        <% end %>
        


        
        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
<br>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->