<%= form_for(@pago) do |f| %>
  <% if @pago.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pago.errors.count, "error") %> prohibited this pago from being saved:</h2>

      <ul>
      <% @pago.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fechainicio %><br>
    <%= f.datetime_select :fechainicio %>
  </div>
  <div class="field">
    <%= f.label :fechafin %><br>
    <%= f.datetime_select :fechafin %>
  </div>
  <div class="field">
    <%= f.label :usuarios_id %><br>
    
    <select name="pago[usuarios_id]" id="pago_usuarios_id" class="form-control" >
      <option></option>
      <% Entrance.all.each do |singleEntranceUser| %>
        <option value="<%= singleEntranceUser.id %>" <% if singleEntranceUser.id==@pago.usuarios_id %>selected <% end %>><%= singleEntranceUser.nombre %> <%= singleEntranceUser.apellido %></option>
      <% end %>
      
      </select>
    
  </div>
  <div class="field">
    <%= f.label :estado_payment %><br>
    <%= f.text_field :estado_payment %>
  </div>
  <div class="field">
    <%= f.label :credito %><br>
    <%= f.text_field :credito %>
  </div>
  <div class="field">
    <%= f.label :cantidad_original %><br>
    <%= f.text_field :cantidad_original %>
  </div>
  <div class="field">
    <%= f.label :cantidad_final %><br>
    <%= f.text_field :cantidad_final %>
  </div>
  <div class="field">
  <%= f.label :campaign_id %><br>
  <% campanas=Campaign.all %>
  <select name="beacons[campaign_id]">
  <option value="none" >Solo pago por beacon</option>
    <% campanas=Campaign.all.each do |singleCampana| %>
    <option value="<%= singleCampana.id %>" <% if singleCampana.id==@pago.campaign_id %> selected <% end %>><%= singleCampana.nombre %></option>
    <% end %>
  </select>
  </div>
  <div class="field">
    <%= f.label :beacons_id %><br>
    <select name="beacons[beacons_id]">

    <% beacons=Beacon.all.each do |singleBeacon| %>
    <option value="<%= singleBeacon.id %>" <% if singleBeacon.id==@pago.beacons_id %> selected <% end %>><%= singleBeacon.nombre %></option>
    <% end %>
  </select>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
