



<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active"><%= t(:users) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Blank page <small>Handy when you need to create a new page</small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:listing) %> <strong><%= t(:payment) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                  <% if notice!=nil %>
                  <div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  <strong><%= notice %></strong>
</div>
<% end %>
                  
                  <% if Entrance.find_by_id(session[:cuser]).superlevel>=1000 %>
                  <%= link_to t(:new)+' '+t(:payment), new_pago_path %>
                  <% end %>
                   <table class="table no-margin table-hover">
  <thead>
    <tr>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Usuario</th>
      <th>Estado payment</th>
      <th>Cantidad original</th>
      <th>Credito</th>
      <th>Beacon</th>
      <th>Campaign</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagos.each do |pago| %>
    
      <tr>
        <td><%= pago.fechainicio %></td>
        <td><%= pago.fechafin %></td>
        <% if Entrance.find_by_id(pago.usuarios_id)!=nil %>
        <td><%= Entrance.find_by_id(pago.usuarios_id).nombre %> <%= Entrance.find_by_id(pago.usuarios_id).apellido %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= pago.estado_payment %></td>
        <td><%= pago.cantidad_original %></td>
        <td><%= pago.credito %></td>
        <% if Entrance.find_by_id(pago.usuarios_id)!=nil %>

        <% if Beacon.find_by_id(pago.beacons_id)!=nil %>
        <td><%= Beacon.find_by_id(pago.beacons_id).nombre %></td>
        <% else %>
        <td></td>
        <% end %>

        <% if Campaign.find_by_id(pago.campaign_id)!=nil %>
        <td><%= Campaign.find_by_id(pago.campaign_id).nombre %></td>
        <% else %>
        <td></td>
        <% end %>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        
        <% if Entrance.find_by_id(session[:cuser]).superlevel>=1000 %>
        <td><%= link_to 'Edit', edit_pago_path(pago) %></td>
        <td><%= link_to 'Destroy', pago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
      <% end %>
    
  </tbody>
</table>

<br>
                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
<br>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->