<p id="notice"><%= notice %></p>

<p>
  <strong>Fechainicio:</strong>
  <%= @pago.fechainicio %>
</p>

<p>
  <strong>Fechafin:</strong>
  <%= @pago.fechafin %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @pago.usuarios_id %>
</p>

<p>
  <strong>Estado payment:</strong>
  <%= @pago.estado_payment %>
</p>

<p>
  <strong>Cantidad original:</strong>
  <%= @pago.cantidad_original %>
</p>

<p>
  <strong>Cantidad final:</strong>
  <%= @pago.cantidad_final %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @pago.campaign_id %>
</p>

<%= link_to 'Edit', edit_pago_path(@pago) %> |
<%= link_to 'Back', pagos_path %>
