<%= simple_form_for @notification,:html => { role: 'form' } do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
Channels: incuvaSite,incuvaApp
<br>
Screen: dashboard
  <div class="form-group">
    <%= f.label :channel %><br>
    <%= f.text_field :channel, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :screen %><br>
    <%= f.text_field :screen,class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :dato %><br>
    <%= f.text_field :dato, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :users %><br>
    <%= f.text_field :users, class: 'form-control'  %>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-danger' %>

  </div>
<% end %>
