<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @notification.channel %>
</p>

<p>
  <strong>Screen:</strong>
  <%= @notification.screen %>
</p>

<p>
  <strong>Dato:</strong>
  <%= @notification.dato %>
</p>

<p>
  <strong>Users:</strong>
  <%= @notification.users %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
