<%= form_for(@mastercard) do |f| %>
  <% if @mastercard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mastercard.errors.count, "error") %> prohibited this mastercard from being saved:</h2>

      <ul>
      <% @mastercard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
