<h1>Listing mastercards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mastercards.each do |mastercard| %>
      <tr>
      <td>id_user :<%= mastercard.id_user %></td>
      <td>servicio_id :<%= mastercard.servicio_id %></td>
        <td><%= link_to 'Show', mastercard %></td>
        <td><%= link_to 'Edit', edit_mastercard_path(mastercard) %></td>
        <td><%= link_to 'Destroy', mastercard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mastercard', new_mastercard_path %>
