

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cobro con tarjeta</h4>
      </div>
      <form action="/pagos" id="payment-formc" name="payment-formc" class="form-horizontal" method="POST">
      <div class="modal-body">
         
                            <input type="hidden" name="token_id" id="token_id"/>
                            <input type="hidden" name="beacons_array" id="beacons_array"/>
                            <input type="hidden" name="beacons_campaign" id="beacons_campaign"/>
                            <input type="text" hidden name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
                                <div class="form-body">

                                <div class="form-group">
                                    <label class="control-label col-md-4">Monto $ <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" name="amount" class="form-control" id="card_monto" />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nombre Tarjetahabiente <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" name="name" data-openpay-card="holder_name" data-required="1" class="form-control" id="card_name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Número de tarjeta <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="creditcard" type="text" class="form-control" data-openpay-card="card_number" id="card_number" />
                                        <span class="help-block">
                                        e.g: 5566000022221114 </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">CVC <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="digits" type="text" class="form-control" data-openpay-card="cvv2" id="card_cvc" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Mes <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="month" type="text" class="form-control" data-openpay-card="expiration_month" id="card_month" />
                                        <span class="help-block">
                                        e.g: 05 </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Año <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="year" type="text" class="form-control" data-openpay-card="expiration_year" id="card_year" />
                                        <span class="help-block">
                                        e.g: 2014 </span>
                                    </div>
                                </div>



      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="pay-button" onclick="">Proceder con pago</button>
      </div>
      </form>
    
  