<div id="sidebar">
                <div class="sidebar-back"></div>
                <div class="sidebar-content">
                    <div class="nav-brand">
                        <a class="main-brand" href="../../html/dashboards/dashboard.html">
                            <h3 class="text-light text-white"><span><%= t(:sitetitle) %><strong><%= t(:siteextension) %></strong> </span><i class="fa fa-rocket fa-fw"></i></h3>
                        </a>
                    </div>

                    <!-- BEGIN MENU SEARCH -->
                    <form class="sidebar-search" role="search">
                        <a href="javascript:void(0);"><i class="fa fa-search fa-fw search-icon"></i><i class="fa fa-angle-left fa-fw close-icon"></i></a>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control navbar-input" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-equal" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <!-- END MENU SEARCH -->

                    <!-- BEGIN MAIN MENU -->
                    <ul class="main-menu">
                        <!-- Menu Dashboard -->
                        <li>
                            <a href="/welcomes" >
                                <i class="fa fa-home fa-fw"></i><span class="title">Dashboard</span>
                            </a>
                        </li><!--end /menu-item -->
                        <!-- Menu UI -->
                         <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-puzzle-piece fa-fw"></i><span class="title"><%= t(:campaign) %></span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a data-toggle="modal" href="/campaigns/new" ><%= t(:addCampaign) %></a></li>
                                <% if Entrance.find_by_id(session[:cuser]).superlevel>=1000 %>
                                <% Campaign.all.each do |singleCity| %>
                                <li><a href="/campaigns/<%= singleCity.id %>/edit" ><%= singleCity.nombre %></a></li>
                                <% end %>
                                <% else %>
                                <% Campaign.where(:entrances_id=>session[:cuser].to_i).each do |singleCity| %>
                                <li><a href="/campaigns/<%= singleCity.id %>/edit" ><%= singleCity.nombre %></a></li>
                                <% end %>
                                <% end %>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-item -->
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-puzzle-piece fa-fw"></i><span class="title"><%= t(:beacons) %></span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                            <% if Entrance.find_by_id(session[:cuser]).superlevel>=1000 %>
                                <li><a data-toggle="modal" href="/beacons" ><%= t(:addBeacon) %></a></li>
                                
                                <li><a href="/places" ><%= t(:addPlace) %></a></li>
                                <% end %>
                                <% Place.all.each do |singleCity| %>
                                <li><a href="/places/<%= singleCity.id %>" ><%= singleCity.nombre %></a></li>
                                
                                <% end %>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-item -->
                       
                        <!-- Menu Pages -->
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-file fa-fw"></i><span class="title"><%= t(:user) %></span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="/entrances/<%= session[:cuser] %>/edit" ><%= t(:userProfile) %><span class="badge"></span></a></li>
                                <% if Entrance.find_by_id(session[:cuser]).superlevel>=1000 %>
                                <li><a href="/entrances" ><%= t(:listUsers) %></a></li>
                                <% end %>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-item -->


                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-file fa-fw"></i><span class="title"><%= t(:eink) %> <%= t(:advertising) %></span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="/publicidads" ><%= t(:add) %> <%= t(:advertising) %><span class="badge"></span></a></li>
                            </ul><!--end /submenu -->
                        </li>


                        <!-- Menu Tables -->
                        <% if Entrance.find_by_id(session[:cuser]).superlevel>=1000 %>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-file fa-fw"></i><span class="title"><%= t(:notifications) %></span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="/notifications" ><%= t(:sendNotifications) %><span class="badge"></span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-item -->
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-file fa-fw"></i><span class="title"><%= t(:prices) %></span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="/precios" ><%= t(:adminPlans) %><span class="badge"></span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-item -->
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-file fa-fw"></i><span class="title">Email</span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="/mail_templates" >Email templates<span class="badge"></span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-item -->
                        <% end %>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-file fa-fw"></i><span class="title"><%= t(:payments) %></span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="/pagos" ><%= t(:adminPayments) %><span class="badge"></span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-item -->
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-file fa-fw"></i><span class="title"><%= t(:stats) %></span> <span class="expand-sign">+</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                            <% if Entrance.find_by_id(session[:cuser])!=nil %>
                                <li><a href="/analytics/logs" ><%= t(:logs) %><span class="badge"></span></a></li>
                            <% end %>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-item -->
                        <!-- Menu Forms -->
                        
                        <!-- Menu Levels -->
                    </ul><!--end .main-menu -->
                    <!-- END MAIN MENU -->

                </div>
            </div><!--end #sidebar-->