<header id="header">

            <!-- BEGIN NAVBAR -->
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="btn btn-transparent btn-equal btn-menu" href="javascript:void(0);"><i class="fa fa-bars fa-lg"></i></a>
                    <div class="navbar-brand">
                        <a class="main-brand" href="../../html/dashboards/dashboard.html">
                            
                            <h3 class="text-light text-white"><span><%= t(:sitetitle) %><strong><%= t(:siteextension) %></strong> </span><i class="fa fa-rocket fa-fw"></i></h3>
                        </a>
                    </div><!--end .navbar-brand -->
                    <a class="btn btn-transparent btn-equal navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse"><i class="fa fa-wrench fa-lg"></i></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="header-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="../../html/dashboards/dashboard.html"><i class="fa fa-home fa-lg"></i></a></li>
                    </ul><!--end .nav -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-flask"></i></a>
                            <ul class="dropdown-menu animation-slide theme-selector">
                                <li class="dropdown-header"><%= t(:theme) %>s</li>
                                <li><a href="theme-default"><%= t(:theme) %> default</a></li>
                                <li><a href="theme-1"><%= t(:theme) %> 1</a></li>
                                <li><a href="theme-2"><%= t(:theme) %> 2</a></li>
                                <li><a href="theme-3"><%= t(:theme) %> 3</a></li>
                                <li><a href="theme-4"><%= t(:theme) %> 4</a></li>
                                <li><a href="theme-5"><%= t(:theme) %> 5</a></li>
                            </ul><!--end .dropdown-menu -->
                        </li><!--end .dropdown -->
                        <li><span class="navbar-devider"></span></li>
                        
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-dashboard"></i></a>
                            <ul class="dropdown-menu animation-dock">
                                <!-- <li class="dropdown-header"><%= t(:campaignProgress) %></li>
                                <li class="dropdown-progress">
                                    <a href="javascript:void(0);">
                                        <div class="dropdown-label">
                                            <span class="text-light"><%= t(:campaignProgress) %> <strong><%= t(:today) %></strong></span>
                                            <strong class="pull-right">93%</strong>
                                        </div>
                                        <div class="progress"><div class="progress-bar progress-bar-danger" style="width: 93%"></div></div>
                                    </a>
                                </li>
                                <li class="dropdown-progress">
                                    <a href="javascript:void(0);">
                                        <div class="dropdown-label">
                                            <span class="text-light"><%= t(:campaignProgress) %> <strong><%= t(:yesterday) %></strong></span>
                                            <strong class="pull-right">30%</strong>
                                        </div>
                                        <div class="progress"><div class="progress-bar progress-bar-success" style="width: 30%"></div></div>
                                    </a>
                                </li>
                                <li class="dropdown-progress">
                                    <a href="javascript:void(0);">
                                        <div class="dropdown-label">
                                            <span class="text-light"><%= t(:campaignProgress) %> <strong><%= t(:lastWeek) %></strong></span>
                                            <strong class="pull-right">74%</strong>
                                        </div>
                                        <div class="progress"><div class="progress-bar progress-bar-warning" style="width: 74%"></div></div>
                                    </a>
                                </li> -->
                            </ul>
                        </li>
                        <li><span class="navbar-devider"></span></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="navbar-profile dropdown-toggle text-bold" data-toggle="dropdown"><%= session[:cname] %> <i class="fa fa-fw fa-angle-down"></i> <img class="img-circle" src="../../assets/img/avatar1.jpg?1401481655" alt="" /></a>
                            <ul class="dropdown-menu animation-slide">
                                <li class="dropdown-header">Config</li>
                                <li><a href="/entrances/<%= session[:cuser] %>/edit"><%= t(:myProfile) %></a></li>
                                <li class="divider"></li>
                                <li><a href="/entrances/logout"><i class="fa fa-fw fa-power-off text-danger"></i> <%= t(:logout) %></a></li>
                            </ul><!--end .dropdown-menu -->
                        </li><!--end .dropdown -->
                    </ul><!--end .nav -->
                </div><!--end #header-navbar-collapse -->
            </nav>
            <!-- END NAVBAR -->

        </header>