<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="/">home</a></li>
            <li class="active">Dashboard</li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Bienvenido <small></small></h3>
          </div>
          <div class="section-body">
          <div class="row">
            <div class="col-md-6">
              <div style="width: 100%">
             <strong> Desempeño por genero (Hombres y Mujeres)</strong>
                              <canvas id="canvas" height="450" width="600"></canvas>
                            </div>
                          </div>
                          <div class="col-md-6">
              <div style="width:100%">
                    <div>
                    <strong>Desempeño por día de la semana</strong>
                      <canvas id="canvas3" height="450" width="600"></canvas>
                    </div>
                  </div>
            </div>
            
          </div>

          <div class="row">
            <div class="col-md-8">
              <div style="width: 100%">
             <strong> Desempeño por hora del día</strong>
                              <canvas id="canvas2" height="450" width="800"></canvas>
                            </div>
                          </div>
                          
            
          </div>
              
              
          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->
    <script>





      




  var randomScalingFactor = function(){ 
    return Math.round(Math.random()*255)
  };
  <% campaignLabel=nil
  if Entrance.find_by_id(session[:cuser]).superlevel>=1000
    campaignLabel=Campaign.all 
  else
    campaignLabel=Campaign.where(:entrances_id=>Entrance.find(session[:cuser]).id)  
  end
  campaignTitles=campaignLabel.index_by(&:nombre)

%>
var diasg=[];
var horasg=[];
var longList=<%= campaignTitles.keys.length %>;
  var barChartData = {
    labels : <%= campaignTitles.keys.to_s.html_safe %>,
    datasets : [
      {
        fillColor : "rgba(232,152,217,0.5)",
        legendTemplate : "<ul >lalalal</ul>",
        strokeColor : "rgba(220,220,220,0.8)",
        highlightFill: "rgba(220,220,220,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
        <% 
        mujeres=[]
        hombres=[]
        
        women=Entrance.where(:sexo=>"M").index_by(&:id).keys
        puts women.inspect
        men=Entrance.where(:sexo=>"H").index_by(&:id).keys

        campaignTitles.each do |singleCampaign| 
            analisis=Campaign.where(:nombre=>singleCampaign).last
           
            mujeres.push(Beaconlog.where(:client_id=>women,:campaing_id=>analisis.id).length)
            hombres.push(Beaconlog.where(:client_id=>men,:campaing_id=>analisis.id).length)
        end 

         %>
        data : <%= mujeres.to_s.html_safe %>
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        legendTemplate : "<ul >lalalal</ul>",
        strokeColor : "rgba(151,187,205,0.8)",
        highlightFill : "rgba(151,187,205,0.75)",
        highlightStroke : "rgba(151,187,205,1)",
        data : <%= hombres.to_s.html_safe %>
      }
    ]

  }


<%
campaignTitles.each do |singleCampaign| 
    analisis=Campaign.where(:nombre=>singleCampaign).last
    everyday=[0,0,0,0,0,0,0]
    horasInWork=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    Beaconlog.select("DAYOFWEEK(created_at) as DOW, count(*) as CNT").where(:campaing_id=>analisis.id)
           .group("DOW").each do |f| 
        puts "#{f.DOW}, #{f.CNT}" 
        everyday[f.DOW]=f.CNT
    end
%>
diasg.push({
  label: "<%= analisis.nombre %>",
  fillColor: "rgba("+randomScalingFactor()+","+randomScalingFactor()+","+randomScalingFactor()+",0.2)",
  strokeColor: "rgba(220,220,220,1)",
  pointColor: "rgba(220,220,220,1)",
  pointStrokeColor: "#fff",
  pointHighlightFill: "#fff",
  pointHighlightStroke: "rgba(220,220,220,1)",
  data: <%= everyday.to_s.html_safe %>
});
 
<% 
puts "------>"
cuenta=Beaconlog
.select('EXTRACT(HOUR from created_at)').where(:campaing_id=> analisis.id)
.group('EXTRACT(HOUR FROM created_at)')
.order('EXTRACT(HOUR from created_at)')
.count
cuenta.each do |singleCount|

puts "==>"+singleCount[0].to_s+"  ==>"+singleCount[1].to_s
horasInWork[singleCount[0]]=singleCount[1]
end

puts "<------"
%>

horasg.push({
  label: "<%= analisis.nombre %>",
  fillColor: "rgba("+randomScalingFactor()+","+randomScalingFactor()+","+randomScalingFactor()+",0.2)",
  strokeColor: "rgba(220,220,220,1)",
  pointColor: "rgba(220,220,220,1)",
  pointStrokeColor: "#fff",
  pointHighlightFill: "#fff",
  pointHighlightStroke: "rgba(220,220,220,1)",
  data: <%= horasInWork.to_s.html_safe %>
});
<% end %>

  var radarChartData = {
    labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"],
    datasets: diasg
  };


    var lineChartData2 = {
      labels : ["0 am","1 am","2 am","3 am","4 am","5 am","6 am","7 am","8 am","9 am","10 am","11 am","12 pm","13 pm","14 pm","15 pm","16 pm","17 pm","18 pm","19 pm","20 pm","21 pm","22 pm","23 pm"],
      datasets : horasg

    }

    window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx).Bar(barChartData, {
      responsive : true
    });
    var ctx = document.getElementById("canvas2").getContext("2d");
    window.myLine = new Chart(ctx).Line(lineChartData2, {
      responsive: true

    });
    window.myRadar = new Chart(document.getElementById("canvas3").getContext("2d")).Radar(radarChartData, {
      responsive: true
    });
  }

 
  </script>