<%= form_for(@preciohora) do |f| %>
  <% if @preciohora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preciohora.errors.count, "error") %> prohibited this preciohora from being saved:</h2>

      <ul>
      <% @preciohora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hora %><br>
    <%= f.number_field :hora %>
  </div>
  <div class="field">
    <%= f.label :horafin %><br>
    <%= f.number_field :horafin %>
  </div>
  <input type="text" hidden name="preciohora[plan]" value="<%= @precio.id %>">
  
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="actions">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:cancel) %></button>
    <button type="submit" class="btn btn-primary" ><%= t(:continue) %></button>
  </div>
<% end %>
