<h1>Listing preciohoras</h1>

<table>
  <thead>
    <tr>
      <th>Hora</th>
      <th>Plan</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preciohoras.each do |preciohora| %>
      <tr>
        <td><%= preciohora.hora %></td>
        <td><%= preciohora.plan %></td>
        <td><%= preciohora.precio %></td>
        <td><%= link_to 'Show', preciohora %></td>
        <td><%= link_to 'Edit', edit_preciohora_path(preciohora) %></td>
        <td><%= link_to 'Destroy', preciohora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preciohora', new_preciohora_path %>
