



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cobro con tarjeta</h4>
      </div>
      <form action="/pagos" id="payment-form" class="form-horizontal" method="POST">
      <div class="modal-body">
         <%= render 'form' %>
                            


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="pay-button" onclick="">Proceder con pago</button>
      </div>
      </form>
    </div>
  </div>
</div>
