<p id="notice"><%= notice %></p>

<p>
  <strong>Hora:</strong>
  <%= @preciohora.hora %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @preciohora.plan %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @preciohora.precio %>
</p>

<%= link_to 'Edit', edit_preciohora_path(@preciohora) %> |
<%= link_to 'Back', preciohoras_path %>
