<%= form_for(@adservice) do |f| %>
  <% if @adservice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adservice.errors.count, "error") %> prohibited this adservice from being saved:</h2>

      <ul>
      <% @adservice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age_from %><br>
    <%= f.number_field :age_from %>
  </div>
  <div class="field">
    <%= f.label :age_to %><br>
    <%= f.number_field :age_to %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br>
    <%= f.text_field :content_type %>
  </div>
  <div class="field">
    <%= f.label :url_content %><br>
    <%= f.text_field :url_content %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
