<h1>Listing adservices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age from</th>
      <th>Age to</th>
      <th>Content type</th>
      <th>Url content</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adservices.each do |adservice| %>
      <tr>
        <td><%= adservice.name %></td>
        <td><%= adservice.age_from %></td>
        <td><%= adservice.age_to %></td>
        <td><%= adservice.content_type %></td>
        <td><%= adservice.url_content %></td>
        <td><%= adservice.genre %></td>
        <td><%= link_to 'Show', adservice %></td>
        <td><%= link_to 'Edit', edit_adservice_path(adservice) %></td>
        <td><%= link_to 'Destroy', adservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adservice', new_adservice_path %>
