<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adservice.name %>
</p>

<p>
  <strong>Age from:</strong>
  <%= @adservice.age_from %>
</p>

<p>
  <strong>Age to:</strong>
  <%= @adservice.age_to %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @adservice.content_type %>
</p>

<p>
  <strong>Url content:</strong>
  <%= @adservice.url_content %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @adservice.genre %>
</p>

<%= link_to 'Edit', edit_adservice_path(@adservice) %> |
<%= link_to 'Back', adservices_path %>
