<%= form_for @publicidad, :html => { :multipart => true } do |f| %>
  <% if @publicidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publicidad.errors.count, "error") %> prohibited this publicidad from being saved:</h2>

      <ul>
      <% @publicidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :encabezado %> <%= t(:advertisingInstructionOne) %><br>
    <%= f.text_field :encabezado %>
  </div>
  <div class="field">
    <%= f.label :imagen %> <%= t(:advertisingInstructionTwo) %><br>
    <input type="file" placeholder="Tu archivo" spellcheck="false" name="publicidad[imagen]" data-name="custom_stl" accept="image/*">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
