









<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active"><%= t(:advertising) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> <small> <%= t(:advertisingMsg) %></small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:listing) %> <strong><%= t(:advertising) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                  
                  <%= link_to t(:new)+' '+t(:advertising), new_publicidad_path %>

                  <table class="table no-margin table-hover">
  <thead>
    <tr>
      <th>Encabezado</th>
      <th>Imagen</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% 
    if @publicidads==nil
      @publicidads=[]
    end
    @publicidads.each do |publicidad| %>
      <tr>
        <td><%= publicidad.encabezado %></td>
        <td><a href="http://panel.blimb.io/campaigni/<%= publicidad.imagen %>">http://panel.blimb.io/campaigni/<%= publicidad.imagen %></a></td>
        
        <td><%= link_to 'Edit', edit_publicidad_path(publicidad) %></td>
        <td><%= link_to 'Destroy', publicidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
<br>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->