


<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active"><%= t(:advertising) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> <%= t(:advertising) %> <small><%= t(:advertisingNew) %></small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:new) %> <strong><%= t(:prices) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                  

                  <%= render 'form' %>

<%= link_to 'Back', publicidads_path %>


                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
          

  
    
 

<br>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->