<p id="notice"><%= notice %></p>

<p>
  <strong>Encabezado:</strong>
  <%= @publicidad.encabezado %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @publicidad.imagen %>
</p>

<%= link_to 'Edit', edit_publicidad_path(@publicidad) %> |
<%= link_to 'Back', publicidads_path %>
