<%= form_for @campaign, :html => { :multipart => true }  do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">

              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:new) %> <strong><%= t(:campaign) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                    <div class="well">
                      <span class="label label-success"><i class="fa fa-comment"></i> </span> 
                      <% if @campaign.desactivacion=="" or @campaign.desactivacion==nil %>
                      <span>
                       <%= t(:noDeactivationCode) %>
                      </span>
                      <% else %>
                      
                      <span>
                        Cuando el usuario acerque su telefono al locatario, use el codigo de activación <strong> <%= @campaign.desactivacion %></strong> para registrar el intercambio de recompensas.
                      </span>
                      <% end %>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="textarea1" class="control-label">
                            <%= t(:name) %>
                            
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        <%= f.text_field :nombre,class: "form-control" %>
                          <p class="help-block">.</p>
                        </div>
                      </div>
                    <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="textarea1" class="control-label">
                            <%= t(:description) %>
                            <small>Info</small>
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        <%= f.text_area :descripcion,class: "form-control" %>
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:goalImpressions) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                            <%= f.text_field :impresiones_meta,class: "form-control" %>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:stayingTime) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                              
                              <%= f.text_field :tiempo_permanencia,class: "form-control" %>
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:ageFrom) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                            <%= f.text_field :agefrom,class: "form-control" %>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:ageTo) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                              
                              <%= f.text_field :ageto,class: "form-control" %>
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:maximumRewards) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                            <%= f.text_field :stoprewardsat,class: "form-control" %>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:stopRewardAtDate) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                              
                              
                              <!-- d.strftime("at %I:%M%p")  -->
                              <% if @campaign.stoprewardsdate!=nil %>
                              <input type="text" name="campaign[stoprewardsdate]" value="<%= @campaign.stoprewardsdate.to_time.strftime("%F") %>" id="campaign_stoprewardsdate">
                              <% else %>
                              <input type="text" name="campaign[stoprewardsdate]"  id="campaign_stoprewardsdate">
                              <% end %>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:send2Sex) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                            <select name="campaign[sex]">
                              <option value="0" <% if @campaign.sex==0 %>selected<% end %>><%= t(:allGenders) %></option>
                              <option value="1" <% if @campaign.sex==1 %>selected<% end %>><%= t(:male) %></option>
                              <option value="2" <% if @campaign.sex==2 %>selected<% end %>><%= t(:female) %></option>
                            </select>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                        
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="textarea1" class="control-label">
                            <%= t(:image) %>
                            
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        




                <div class="box">
                  <div class="box-head box-head-xs style-primary">
                    <header><h5 class="text-light">Logo <strong>Campaign</strong></h5></header>
                    <div class="tools">
                      <div class="btn-group btn-group-transparent">
                        <div class="btn-group">
                          <a href="#" class="btn btn-equal btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-flask"></i></a>
                          
                        </div>
                        <a class="btn btn-equal btn-sm btn-refresh"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-equal btn-sm btn-collapse"><i class="fa fa-angle-down"></i></a>
                        <a class="btn btn-equal btn-sm btn-close"><i class="fa fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="box-body">
                    <% if @campaign.imagen!=nil and @campaign.imagen!="" %>
                      <img src="/campaigni/<%= @campaign.imagen %>" alt="" id="preview"/>
                    <% else %>
                      <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" id="preview"/>
                    <% end %>
                  </div>
                </div>


                        
                        <input type="file" placeholder="Tu archivo" spellcheck="false" name="campaign[imagen]" data-name="custom_stl" accept="image/*">
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="textarea1" class="control-label">
                            <%= t(:promocode) %>
                            
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        <%= f.text_field :promocode,class: "form-control" %>
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="textarea1" class="control-label">
                            <%= t(:precio) %>
                            
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        <% f.text_field :price,class: "form-control" %>
                        <% if @campaign.price!=nil %>
                              <input type="text" name="campaign[price]" value="<%= @campaign.price %>" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                              <% else %>
                              <input type="text" name="campaign[price]"   onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                              <% end %>
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="textarea2" class="control-label">
                            Estilo de campaña
                            
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        <select name="campaign[cupon]">
                              <option value="0" <% if @campaign.cupon==0 %>selected<% end %>>Esta campaña deja un cupon canjeable en la cuenta del usuario</option>
                              <option value="1" <% if @campaign.cupon==1 %>selected<% end %>>Esta campaña solo envia una notificacion al usuario sin dejar cupon</option>
                              <option value="2" <% if @campaign.cupon==2 %>selected<% end %>>Esta campaña es un producto estilo pase de entrada</option>
                              <option value="2" <% if @campaign.cupon==3 %>selected<% end %>>Esta campaña es un producto que se desactiva al canjear</option>
                            </select>
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label for="textarea1" class="control-label">
                            <% t(:precio) %>
                            Duracion 
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                        <% if @campaign.duration!=nil %>
                              <input type="text" name="campaign[duration]" value="<%= @campaign.duration %>"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                              <% else %>
                              <input type="text" name="campaign[duration]"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                              <% end %>
                          <p class="help-block">Duracion del producto comprado en minutos</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label class="control-label">
                          <%= f.check_box :parkinglot %>  
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          <% t(:justOnce) %>
                          Esta campaña es de estacionamiento
                          <p class="help-block">.</p>
                        </div>
                      </div>
                      

                      <div class="form-group">
                        <div class="col-lg-1 col-md-2 col-sm-3">
                          <label class="control-label">
                          <%= f.check_box :justonce %>  
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          <%= t(:justOnce) %>
                          
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <!-- <div class="form-group">
                        <div class="col-lg-1 col-md-6 col-sm-3">
                          <label class="control-label">
                            <% f.check_box :cupon %>  
                            
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          <% t(:iscupon) %>
                          
                          <p class="help-block">.</p>
                        </div>
                      </div>
 -->
                      <div class="form-group">
                        <div class="col-lg-1 col-md-6 col-sm-3">
                          <label class="control-label">
                            <%= f.check_box :visibleonsite %>  
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          <%= t(:visibleOnSite) %>
                          
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-6 col-sm-3">
                          <label class="control-label">
                            <%= f.check_box :bundle %>  
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          <%= t(:bundleCoupon) %>
                          
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-6 col-sm-3">
                          <label class="control-label">
                            <%= f.check_box :onexit %>  
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          <%= t(:onExitMsg) %>
                          
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-1 col-md-6 col-sm-3">
                          <label class="control-label">
                            <%= f.check_box :systemmsg %>  
                          </label>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-9">
                          <%= t(:systemMsg) %>
                          
                          <p class="help-block">.</p>
                        </div>
                      </div>

                      





<div class="form-footer col-lg-offset-1 col-md-offset-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary"><%= t(:save) %></button>
                        
                      </div>
                    
                  </div>
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div><!--end .row -->
            <% end %>
