





<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">
        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active"><%= t(:editing) %> <%= t(:campaign) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> <%= t(:campaign) %> <small> </small><a data-confirm="Are you sure?" data-method="delete" href="/campaigns/<%= @campaign.id %>" rel="nofollow" type="button" class="btn btn-xs btn-warning btn-equal" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></a></h3>
          </div>
          <div class="section-body">
          <%= render 'form' %>

<% link_to t(:back), campaigns_path %>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->