<h1>Listing campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Entrances</th>
      <th>Impresiones hechas</th>
      <th>Impresiones vistas</th>
      <th>Impresiones meta</th>
      <th>Descripcion</th>
      <th>Imagen</th>
      <th>Justonce</th>
      <th>Tiempo permanencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.nombre %></td>
        <td><%= campaign.entrances_id %></td>
        <td><%= campaign.impresiones_hechas %></td>
        <td><%= campaign.impresiones_vistas %></td>
        <td><%= campaign.impresiones_meta %></td>
        <td><%= campaign.descripcion %></td>
        <td><%= campaign.imagen %></td>
        <td><%= campaign.justonce %></td>
        <td><%= campaign.tiempo_permanencia %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
