<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @campaign.nombre %>
</p>

<p>
  <strong>Entrances:</strong>
  <%= @campaign.entrances_id %>
</p>

<p>
  <strong>Impresiones hechas:</strong>
  <%= @campaign.impresiones_hechas %>
</p>

<p>
  <strong>Impresiones vistas:</strong>
  <%= @campaign.impresiones_vistas %>
</p>

<p>
  <strong>Impresiones meta:</strong>
  <%= @campaign.impresiones_meta %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @campaign.descripcion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @campaign.imagen %>
</p>

<p>
  <strong>Justonce:</strong>
  <%= @campaign.justonce %>
</p>

<p>
  <strong>Tiempo permanencia:</strong>
  <%= @campaign.tiempo_permanencia %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
