<%= form_for(@entrance) do |f| %>
  <% if @entrance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrance.errors.count, "error") %> prohibited this entrance from being saved:</h2>

      <ul>
      <% @entrance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :empresa %><br>
    <%= f.text_field :empresa %>
  </div>
  Genero
                            <select name="entrance[sexo]">
                              <option value="M" <% if @entrance.sexo=="M" %>selected<% end %>>Mujer</option>
                              <option value="H" <% if @entrance.sexo=="H" %>selected<% end %>>Hombre</option>
                              
                            </select>
                              
                              
  <div class="field">
    <%= f.label :rfc %><br>
    <%= f.text_field :rfc %>
  </div>

  <div class="field">
    
    Genero
                            <select name="entrance[isclient]">
                              <option value="0" <% if @entrance.isclient==0 %>selected<% end %>>Sin acceso a panel</option>
                              <option value="1" <% if @entrance.isclient==1 %>selected<% end %>>Autorizado panel</option>
                              
                            </select>
  </div>

<div class="field">
    <%= f.label :birthday %><br>
    
  
  <% if @entrance.birthday!=nil %>
                              <input type="text" name="entrance[birthday]" value="<%= @entrance.birthday.to_time.strftime("%F") %>" id="entrance_birthday">
                              <% else %>
                              <input type="text" name="entrance[birthday]"  id="entrance_birthday">
                              <% end %>
                              </div>

   <% if Entrance.where(:id=>session[:cuser]).last.superlevel!=nil %>
  <% if Entrance.where(:id=>session[:cuser]).last.superlevel>=1000 %>
  <div class="field">
    <%= f.label :superlevel %><br>
    <%= f.text_field :superlevel %>
  </div>
  <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>





