<!-- start login -->
<% 
if request.original_url.index('login')!=nil %>
<div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="/assets/img/logo_image.png" alt="Key icon">
                    </div>
                    <div class="login-logo">
                        <a href="#?login-theme-3">

                            <!-- <img src="/assets/img/incuva_logo.png" alt="Company Logo"> -->

                            <img src="/isologo.png" alt="Company Logo" />

                        </a>
                    </div>
                    <hr>
                    <div class="login-form">
                        <!-- BEGIN ERROR BOX -->
                        <% if notice=="error" %>
                        <div class="alert alert-danger ">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4><%= t(:error) %></h4>
                            <%= t(:errorlogin) %>
                        </div>
                        <% end %>
                        <!-- END ERROR BOX -->
                        <form action="/entrances/loginAccount" method="post">
                        <input name="authenticity_token" value="<%= form_authenticity_token.to_s %>" type="hidden"/>
                            <input type="text" placeholder="<%= t(:username) %>" class="input-field form-control user" name="username"/>
                            <input type="password" placeholder="<%= t(:password) %>" class="input-field form-control password" name="password"/>
                            <button type="submit"  class="btn btn-login ladda-button" data-style="expand-left"><span class="ladda-label"><%= t(:signingbutton) %></span></button>
                        </form>
                        <div class="login-links">
                            <a href="/forget"><%= t(:forgotpassword) %></a>
                            <br>
                            <a href="/register"><%= t(:registeraccount) %> <strong><%= t(:signup) %></strong></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="social-login row">
                    <div class="fb-login col-lg-6 col-md-12 animated flipInX">
                        <a href="#" class="btn btn-facebook btn-block">Connect with <strong>Facebook</strong></a>
                    </div>
                    <div class="twit-login col-lg-6 col-md-12 animated flipInX">
                        <a href="#" class="btn btn-twitter btn-block">Connect with <strong>Twitter</strong></a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
<% elsif request.original_url.index('register')!=nil %>
<div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="/assets/img/account/register-icon.png" alt="Register icon" />
                    </div>
                    <div class="login-logo">
                        <a href="#">

                            <!-- <img src="/assets/img/incuva_logo.png" alt="Company Logo"> -->

                            <img src="/isologo.png" alt="Company Logo" />

                        </a>
                    </div>
                    <hr>
                    <div class="login-form">
                        <!-- Start Error box -->
                        <% if notice!=nil and notice!="" %>
                        <div class="alert alert-danger ">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4></h4>
                            <%= notice %>
                        </div>
                        <% end %>
                        <!-- End Error box -->
                        <form action="/entrances/createAccount" method="post">
                        <input name="authenticity_token" value="<%= form_authenticity_token.to_s %>" type="hidden"/>
                            <input name="urname" type="text" placeholder="<%= t(:name) %>" class="input-field" required/>
                            <input name="uremail" type="email" placeholder="<%= t(:email) %>" class="input-field" required/>
                            <input name="urpassword" type="password" placeholder="<%= t(:password) %>" class="input-field" required/>
                            <input name="urrepeat" type="password" placeholder="<%= t(:confirmpassword) %>" class="input-field" required/>
                            <button type="submit"  class="btn btn-login ladda-button" data-style="expand-left"><span class="ladda-label"><%= t(:signup) %></span></button>
                        </form>
                        <div class="login-links">
                            <a href="/forget"><%= t(:forgotpassword) %></a>
                            <br>
                            <a href="/login"><%= t(:alreadyaccount) %> <strong><%= t(:signingbutton) %></strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% elsif request.original_url.index('forget')!=nil %>
<div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="/assets/img/account/login-questionmark-icon.png" alt="Questionmark icon" />
                    </div>
                    <div class="login-logo">
                        <a href="#">
<<<<<<< HEAD
                            <img class="img-responsive" src="/assets/img/incuva_logo.png" alt="Company Logo" />
=======
                            <img src="/isologo.png" alt="Company Logo" />
>>>>>>> 444cf4dc03f9590a5b18031aeb201f3fe359348b
                        </a>
                    </div>
                    <hr />
                    <div class="login-form">
                        <!-- BEGIN ERROR BOX -->
                        <% if notice!=nil and notice!="" %>
                        <div class="alert alert-danger ">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4></h4>
                            <%= notice %>
                        </div>
                        <% end %>
                        <!-- END ERROR BOX -->
                        <form action="/entrances/resetAccount" method="post">
                        <input name="authenticity_token" value="<%= form_authenticity_token.to_s %>" type="hidden"/>
                            <p><%= t(:resetpasswordmessage) %></p>
                            <input type="email" placeholder="Email" class="input-field" required name="emailret" />
                            <button type="submit" class="btn btn-login btn-reset"><%= t(:resetpassword) %></button>
                        </form>
                        <div class="login-links">
                            <a href="/login"><%= t(:alreadyaccount) %> <strong><%= t(:signingbutton) %></strong></a>
                            <br>
                            <a href="/register"><%= t(:registeraccount) %> <strong><%= t(:signup) %></strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% else %>


<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active"><%= t(:users) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Blank page <small>Handy when you need to create a new page</small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:listing) %> <strong><%= t(:users) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                        <th><%= t(:name) %></th>
                          <th><%= t(:lastname) %></th>
                          <th><%= t(:email) %></th>
                          <th><%= t(:company) %></th>
                          <th><%= t(:confirmation) %></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      <% @entrances.each do |entrada| %>
      <tr>
        <td><%=entrada.nombre  %></td>
        <td><%= entrada.apellido %></td>
        <td><%= entrada.email %></td>
        <td><%= entrada.empresa %></td>
        <th><%= entrada.confirmation %></th>
        <td><a href="/entrances/<%= entrada.id %>/edit">editar</td>
        
      </tr>
    <% end %>          
                      </tbody>
                    </table>
                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
          

  
    
 

<br>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->
<% end %>