<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @entrance.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @entrance.apellido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entrance.email %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @entrance.empresa %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @entrance.rfc %>
</p>

<%= link_to 'Edit', edit_entrance_path(@entrance) %> |
<%= link_to 'Back', entrances_path %>
