<%= form_for(@adserviceuser) do |f| %>
  <% if @adserviceuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adserviceuser.errors.count, "error") %> prohibited this adserviceuser from being saved:</h2>

      <ul>
      <% @adserviceuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userid %><br>
    <%= f.number_field :userid %>
  </div>

  <div class="field">
    <%= f.label :beacon %><br>
    <%= f.number_field :beacon %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
