<h1>Listing adserviceusers</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Beacon minor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adserviceusers.each do |adserviceuser| %>
      <tr>
        <td><%= adserviceuser.userid %></td>
        <td><%= adserviceuser.beacon %></td>
        <td><%= link_to 'Show', adserviceuser %></td>
        <td><%= link_to 'Edit', edit_adserviceuser_path(adserviceuser) %></td>
        <td><%= link_to 'Destroy', adserviceuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adserviceuser', new_adserviceuser_path %>
