<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @adserviceuser.userid %>
</p>

<%= link_to 'Edit', edit_adserviceuser_path(@adserviceuser) %> |
<%= link_to 'Back', adserviceusers_path %>
