<%= form_for(@plastic) do |f| %>
  <% if @plastic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plastic.errors.count, "error") %> prohibited this plastic from being saved:</h2>

      <ul>
      <% @plastic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number %>
  </div>
  <div class="field">
    <%= f.label :ccv %><br>
    <%= f.text_field :ccv %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br>
    <%= f.text_field :expiration %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tokenized %><br>
    <%= f.text_field :tokenized %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
