<h1>Listing plastics</h1>

<table>
  <thead>
    <tr>
      <th>Card number</th>
      <th>Ccv</th>
      <th>Expiration</th>
      <th>User</th>
      <th>Tokenized</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plastics.each do |plastic| %>
      <tr>
        <td><%= plastic.card_number %></td>
        <td><%= plastic.ccv %></td>
        <td><%= plastic.expiration %></td>
        <td><%= plastic.user_id %></td>
        <td><%= plastic.tokenized %></td>
        <td><%= link_to 'Show', plastic %></td>
        <td><%= link_to 'Edit', edit_plastic_path(plastic) %></td>
        <td><%= link_to 'Destroy', plastic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plastic', new_plastic_path %>
