<p id="notice"><%= notice %></p>

<p>
  <strong>Card number:</strong>
  <%= @plastic.card_number %>
</p>

<p>
  <strong>Ccv:</strong>
  <%= @plastic.ccv %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @plastic.expiration %>
</p>

<p>
  <strong>User:</strong>
  <%= @plastic.user_id %>
</p>

<p>
  <strong>Tokenized:</strong>
  <%= @plastic.tokenized %>
</p>

<%= link_to 'Edit', edit_plastic_path(@plastic) %> |
<%= link_to 'Back', plastics_path %>
