<%= form_for(@precio) do |f| %>
  <% if @precio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precio.errors.count, "error") %> prohibited this precio from being saved:</h2>

      <ul>
      <% @precio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :dias %><br>
    <%= f.number_field :dias %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :precioperpush %><br>
    <%= f.text_field :precioperpush %>
  </div>
  <div class="field">
    <%= f.label :olii %><br>
    <%= f.check_box :olii %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
