






<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active"><%= t(:users) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Blank page <small>Handy when you need to create a new page</small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:editing) %> <strong><%= t(:prices) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                  

                  <%= render 'form' %>


<br>

<a href="#myModal" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary"><%= t(:new) %> <%= t(:schedule) %></a>

<table class="table table-hover table-striped no-margin">
                      <thead>
                        <tr>
                          <th><%= t(:startTime) %></th>
                          <th><%= t(:startTime) %></th>
                          <th><%= t(:price) %></th>
                          <th style="width:90px">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      <% @preciohoras.each do |singlePrecio| %>
                        <tr>
                          <td><%= singlePrecio.hora %></td>
                          <td><%= singlePrecio.horafin %></td>
                          <td><%= singlePrecio.precio %></td>
                          
                          <td>
                          <%= link_to 'Destroy', singlePrecio, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <a data-confirm="Are you sure?" data-method="delete" href="/preciohoras/<%= singlePrecio.id %>" rel="nofollow"><i class="fa fa-trash-o"></i></a>
                            
                          </td>
                        </tr>
                      <% end %>
                        
                       
                      </tbody>
                    </table>


                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
          

<br>



          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cobro con tarjeta</h4>
      </div>
      
      <div class="modal-body">
         <%= render 'preciohoras/form' %>
      </div>
      <div class="modal-footer">
        
      </div>
      
    </div>
  </div>
</div>
