




<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active"><%= t(:users) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Blank page <small>Handy when you need to create a new page</small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:listing) %> <strong><%= t(:prices) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                  <%= link_to t(:new)+' Precio', new_precio_path %>

                  <table class="table no-margin table-hover">
                      <thead>
                        <tr>
                          <th>Nombre</th>
      <th>Dias</th>
      <th>Precio</th>
      <th>Precio por push individual</th>
      
      <th></th>
      <th></th>
                        </tr>
                      </thead>

  <tbody>
    <% @precios.each do |precio| %>
      <tr>
        <td><%= precio.nombre %></td>
        <td><%= precio.dias %></td>
        <td><%= precio.precio %></td>
        <td><%= precio.precioperpush %></td>
        
        <td><%= link_to 'Edit', edit_precio_path(precio) %></td>
        <td><%= link_to 'Destroy', precio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
<br>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->