<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @precio.nombre %>
</p>

<p>
  <strong>Dias:</strong>
  <%= @precio.dias %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @precio.precio %>
</p>

<p>
  <strong>Precioperpush:</strong>
  <%= @precio.precioperpush %>
</p>

<%= link_to 'Edit', edit_precio_path(@precio) %> |
<%= link_to 'Back', precios_path %>
