<%= form_for(@place) do |f| %>
<input type="text" name="place[zoom]" id="place_zoom" hidden/>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:new) %> <strong><%= t(:city) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                    <div class="well">
                      <span class="label label-success"><i class="fa fa-comment"></i></span>
                      <span>
                        
                      </span>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:city) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                            <%= f.text_field :nombre,class: "form-control" %>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:country) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                              
                              <%= f.text_field :pais,class: "form-control" %>
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                      
                      <div id='map' style="width:80%;height:350px;left:100px"></div>
                      <p class="help-block">.</p>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:latitude) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                            <%= f.text_field :latitude,class: "form-control" %>
                              
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                              <label  class="control-label"><%= t(:longitude) %></label>
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-6">
                              
                              <%= f.text_field :longitude,class: "form-control" %>
                              <p class="help-block">.</p>
                            </div>
                          </div>
                        </div>
                      </div>




                    <div class="form-footer col-lg-offset-1 col-md-offset-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary"><%= t(:save) %></button>
                        
                      </div>
                    
                  </div>
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div><!--end .row -->
            <% end %>

  

