<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">

        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="../../html/.html">home</a></li>
            <li class="active">Dashboard</li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> Blank page <small>Handy when you need to create a new page</small></h3>
          </div>
          <div class="section-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="box">
                  <div class="box-head">
                    <header><h4 class="text-light"><%= t(:listing) %> <strong><%= t(:city) %></strong></h4></header>
                  </div>
                  <div class="box-body">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th><%= t(:city) %></th>
                          <th><%= t(:country) %></th>
                          <th><%= t(:messageSent) %></th>
                          <th class="text-right1" style="width:90px"><%= t(:actions) %></th>
                        </tr>
                      </thead>
                      <tbody>
                      <% @places.each do |place| %>
      <tr>
        
        <td><%= place.nombre %></td>
        <td><%= place.pais %></td>
        <td><div class="progress no-margin"><div class="progress-bar progress-bar-success" style="width: 80%"></div></div></td>

        <td class="text-right">
                            <a href="/places/<%= place.id %>/edit" type="button" class="btn btn-xs btn-default btn-equal" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></a>
                            
                            <a data-confirm="Are you sure?" data-method="delete" href="/places/<%= place.id %>" rel="nofollow" type="button" class="btn btn-xs btn-default btn-equal" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></a>
                          </td>
        
      </tr>
    <% end %>          
                      </tbody>
                    </table>
                  </div><!--end .box-body -->
                </div><!--end .box -->
              </div><!--end .col-lg-12 -->
            </div>
          

  
    
 

<br>

<%= link_to  t(:new)+" "+t(:city), new_place_path %>
          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->