


<%= render "shared/top_menu" %>
<div id="base">
<%= render "shared/left_menu" %>

<div id="content">
        <!-- START BLANK SECTION -->
        <section>
          <ol class="breadcrumb">
            <li><a href="/places">home</a></li>
            <li class="active"><%= t(:editing) %> <%= t(:city) %></li>
          </ol>
          <div class="section-header">
            <h3 class="text-standard"><i class="fa fa-fw fa-arrow-circle-right text-gray-light"></i> <%= @place.nombre %> <small><%= @place.pais %></small></h3>
          </div>
          <div class="section-body">
          <div class="row">
                      
                      <div id='map' style="width:100%;height:350px"></div>
                      <p class="help-block">.</p>
                      </div>
          <div class="row">
							<div class="col-lg-12">
								<div class="box">
									<div class="box-head">
										<header><h4 class="text-light"><i class="fa fa-check fa-fw"></i> <%= t(:campaign) %> <strong><%= t(:configuration) %></strong></h4></header>
									</div>
									<div class="box-body no-padding1">
										<div id="rootwizard2" class="form-wizard form-wizard-horizontal">
											
											<form action="/pagos" id="payment-formc" name="payment-formc" class="form-horizontal form-bordered form-validation" method="POST" role="form">
												<div class="form-wizard-nav">
													<div class="progress"><div class="progress-bar progress-bar-primary"></div></div>
													<ul class="nav nav-justified">
														<li class="active"><a href="#step1" data-toggle="tab">
														<span class="step">1</span> <span class="title"><%= t(:select) %> <%= t(:campaign) %></span></a></li>
														<li><a href="#step2" data-toggle="tab"><span class="step">2</span> <span class="title"><%= t(:marketingZone) %></span></a></li>
														<li><a href="#step3" data-toggle="tab"><span class="step">3</span> <span class="title"><%= t(:price) %> <%= t(:campaign) %></span></a></li>
														<li><a href="#step4" data-toggle="tab"><span class="step">4</span> <span class="title">Confirmation</span></a></li>
													</ul>
												</div><!--end .form-wizard-nav -->
												<div class="tab-content">
													<div class="tab-pane active" id="step1">
														<br/><br/>
														<div class="form-group">
															<div class="col-sm-3">
																<label for="select2" class="control-label"><%= t(:select) %></label>
															</div>
															<div class="col-sm-9">
																<select name="select2" id="select2" class="form-control" required>
																<% if Entrance.where(:id=>session[:cuser]).last.superlevel>=1000 %>
																	<% Campaign.all.each do |singleCity| %>
																 <option value="<%= singleCity.id %>"><%= singleCity.nombre %></option>   
									                             <% end %>

									                             <% else %>
									                             <% Campaign.where(:entrances_id=>session[:cuser]).each do |singleCity| %>
																 <option value="<%= singleCity.id %>"><%= singleCity.nombre %></option>   
									                             <% end %>
																<% end %>
																 
																</select>
																<p class="help-block"><%= t(:select) %> <%= t(:campaign) %> <%= t(:to) %> <%= t(:configure) %></p>
															</div>
														</div>
														
													</div><!--end #step1 -->
													<div class="tab-pane" id="step2">
														<br/><br/>
														<div class="form-group">
															<div class="col-sm-3">
																<label for="email" class="control-label"><%= t(:instructions) %></label>
															</div>
															<div class="col-sm-9">
																<%= t(:instructionsStep2) %>
															</div>
														</div>
														<div class="form-group">
															<div class="col-sm-3">
																<label for="password1" class="control-label"><%= t(:select) %> <%= t(:location) %></label>
															</div>
															<div class="col-sm-5">
																<div class="col-md-10">
													<select id='optgroup' multiple='multiple'>
														
														<optgroup label="<%= @place.nombre %>">
														<% @beacons.where(:ciudad=>@place.id).where("ijjoapp!=1").each do |singleBeacon|%>
															<option value="<%= singleBeacon.id %>"><%= singleBeacon.nombre %></option>
														<% end %>	
															
														</optgroup>
														
													</select>
												</div>
															</div>
														</div>
														

													</div><!--end #step2 -->
													<div class="tab-pane" id="step3">
														<br/><br/>
														<div class="form-group">
															<div class="col-sm-3">
																<label for="url2" class="control-label"><%= t(:calculated) %> <%= t(:price) %></label>
															</div>
															<div class="col-sm-9">
																<input type="text" name="calc_price" id="calc_price" class="form-control" placeholder="$" data-rule-url="true" required="">
															</div>
														</div>
														
													</div><!--end #step3 -->
													<div class="tab-pane" id="step4">
														<br/><br/>
														
														

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cobro con tarjeta</h4>
      </div>
      
      <div class="modal-body">
         
                            <input type="hidden" name="token_id" id="token_id"/>
                            <input type="hidden" name="beacons_array" id="beacons_array"/>
                            <input type="hidden" name="beacons_campaign" id="beacons_campaign"/>
                            <input type="hidden" name="pago[usuarios_id]" id="beacons_usr" value="<%= session[:cuser] %>" />
                            <input type="text" hidden name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
                                <div class="form-body">

                                <div class="form-group">
                                    <label class="control-label col-md-4">Monto $ <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" name="amount" class="form-control" id="card_monto" />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nombre Tarjetahabiente <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" name="name" data-openpay-card="holder_name" data-required="1" class="form-control" id="card_name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Número de tarjeta <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="creditcard" type="text" class="form-control" data-openpay-card="card_number" id="card_number" />
                                        <span class="help-block">
                                        e.g: 5566000022221114 </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">CVC <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="digits" type="text" class="form-control" data-openpay-card="cvv2" id="card_cvc" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Mes <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="month" type="text" class="form-control" data-openpay-card="expiration_month" id="card_month" />
                                        <span class="help-block">
                                        e.g: 05 </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Año <span class="required">
                                    * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="year" type="text" class="form-control" data-openpay-card="expiration_year" id="card_year" />
                                        <span class="help-block">
                                        e.g: 20 </span>
                                    </div>
                                </div>



      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="pay-button" onclick="">Proceder con pago</button>
      </div>
      
    
  
													</div><!--end #step4 -->
												</div><!--end .tab-content -->
												<ul class="pager wizard">
													<!-- <li class="previous first"><a href="javascript:void(0);"><%= t(:first) %></a></li> -->
													<li class="previous"><a href="javascript:void(0);"><%= t(:previous) %></a></li>
													<!-- <li class="next last"><a href="javascript:void(0);"><%= t(:last) %></a></li> -->
													<li class="next"><a href="javascript:void(0);"><%= t(:next) %></a></li>
												</ul>
											</form>
										</div><!--end #rootwizard -->
									</div><!--end .box-body -->
								</div><!--end .box -->
							</div><!--end .col-lg-12 -->
						</div><!--end .row -->
          
          

<% link_to t(:back), places_path %>


          </div><!--end .section-body -->
        </section>
        <!-- START BLANK SECTION -->
      </div><!--end #content-->
      <!-- END CONTENT -->

    </div><!--end #base-->