<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title><%= t(:sitetitle) %><%= t(:siteextension) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    
  
    <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
    
    <% if request.original_url.index('login')!=nil or request.original_url.index('register')!=nil or request.original_url.index('forget')!=nil%>
    <link href="/assets/css/icons/icons.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/plugins.min.css" rel="stylesheet">
    <link href="/assets/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link href="/assets/css/animate-custom.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    <script src="/assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <% else %>
    
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/libs/wizard/wizard.css?1403937893" />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
    <!-- <link href='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css' rel='stylesheet' /> -->
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

    <!-- <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.3/mapbox.css' rel='stylesheet' /> -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700,800' rel='stylesheet' type='text/css'/>

	<link type="text/css" rel="stylesheet" href="/assets/css/theme-default/bootstrap.css?1403937764" />
	<link type="text/css" rel="stylesheet" href="/assets/css/theme-default/boostbox.css?1403937765" />
	<link type="text/css" rel="stylesheet" href="/assets/css/theme-default/boostbox_responsive.css?1403937765" />
	<link type="text/css" rel="stylesheet" href="/assets/css/theme-default/font-awesome.min.css?1401481653" />
	<link type="text/css" rel="stylesheet" href="/assets/css/theme-default/libs/select2/select2.css?1403937881" />
	<link type="text/css" rel="stylesheet" href="/assets/css/theme-default/libs/multi-select/multi-select.css?1403937882" />
  <link type="text/css" rel="stylesheet" href="/assets/plugins/datetimepicker/jquery.datetimepicker.css" />
    <link href="#" rel="stylesheet" id="theme-color">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/assets/js/libs/utils/html5shiv.js?1401481649"></script>
		<script type="text/javascript" src="/assets/js/libs/utils/respond.min.js?1401481651"></script>
		<![endif]-->
    <% end %>
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    
   <% #stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" 
        src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
</head>

<% if request.original_url.index('login')!=nil or request.original_url.index('register')!=nil or request.original_url.index('forget')!=nil%>
<body class="login fade-in" data-page="login">
<% else %>
<body>
<% end %>
<%= yield %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<% if request.original_url.index('login')!=nil or request.original_url.index('register')!=nil or request.original_url.index('forget')!=nil%>
	<script src="/assets/plugins/jquery-1.11.js"></script>
    <script src="/assets/plugins/jquery-migrate-1.2.1.js"></script>
    <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <script src="/assets/plugins/jquery-mobile/jquery.mobile-1.4.2.js"></script>
    <script src="/assets/plugins/datetimepicker/jquery.datetimepicker.js"></script>

    <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/plugins/backstretch/backstretch.min.js"></script>
    <script src="/assets/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="/assets/js/account.js"></script>
<% else %>

  <!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.js'></script> -->
  <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script> -->
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
	<!-- <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.3/mapbox.js'></script> -->
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
    <script src="/assets/js/libs/jquery/jquery-1.11.0.min.js"></script>
		<script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
		<script src="/assets/js/core/BootstrapFixed.js"></script>
		<script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="/assets/js/libs/spin.js/spin.min.js"></script>
		<script src="/assets/js/libs/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
		<script src="/assets/js/libs/select2/select2.min.js"></script>
		<script src="/assets/js/libs/multi-select/jquery.multi-select.js"></script>
		<script src="/assets/js/core/App.js"></script>
		<script src="/assets/js/libs/wizard/jquery.bootstrap.wizard.min.js"></script>
		<script src="/assets/js/libs/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="/assets/js/libs/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="/assets/js/core/demo/DemoFormWizard.js"></script>
		<script src="/assets/js/core/demo/Demo.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
<% end %>
<% if request.original_url.index('welcome')!=nil %>
  <script src="/assets/js/Chart.min.js"></script>
  <script type="text/javascript">
    Chart.defaults.global = {
    // Boolean - Whether to animate the chart
    animation: true,

    // Number - Number of animation steps
    animationSteps: 60,

    // String - Animation easing effect
    animationEasing: "easeOutQuart",

    // Boolean - If we should show the scale at all
    showScale: true,

    // Boolean - If we want to override with a hard coded scale
    scaleOverride: false,

    // ** Required if scaleOverride is true **
    // Number - The number of steps in a hard coded scale
    scaleSteps: null,
    // Number - The value jump in the hard coded scale
    scaleStepWidth: null,
    // Number - The scale starting value
    scaleStartValue: null,

    // String - Colour of the scale line
    scaleLineColor: "rgba(0,0,0,.1)",

    // Number - Pixel width of the scale line
    scaleLineWidth: 1,

    // Boolean - Whether to show labels on the scale
    scaleShowLabels: true,

    // Interpolated JS string - can access value
    scaleLabel: "<%%=value%>",

    // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
    scaleIntegersOnly: true,

    // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero: false,

    // String - Scale label font declaration for the scale label
    scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Scale label font size in pixels
    scaleFontSize: 12,

    // String - Scale label font weight style
    scaleFontStyle: "normal",

    // String - Scale label font colour
    scaleFontColor: "#666",

    // Boolean - whether or not the chart should be responsive and resize when the browser does.
    responsive: false,

    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio: true,

    // Boolean - Determines whether to draw tooltips on the canvas or not
    showTooltips: true,

    // Function - Determines whether to execute the customTooltips function instead of drawing the built in tooltips (See [Advanced - External Tooltips](#advanced-usage-custom-tooltips))
    customTooltips: false,

    // Array - Array of string names to attach tooltip events
    tooltipEvents: ["mousemove", "touchstart", "touchmove"],

    // String - Tooltip background colour
    tooltipFillColor: "rgba(0,0,0,0.8)",

    // String - Tooltip label font declaration for the scale label
    tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Tooltip label font size in pixels
    tooltipFontSize: 14,

    // String - Tooltip font weight style
    tooltipFontStyle: "normal",

    // String - Tooltip label font colour
    tooltipFontColor: "#fff",

    // String - Tooltip title font declaration for the scale label
    tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

    // Number - Tooltip title font size in pixels
    tooltipTitleFontSize: 14,

    // String - Tooltip title font weight style
    tooltipTitleFontStyle: "bold",

    // String - Tooltip title font colour
    tooltipTitleFontColor: "#fff",

    // Number - pixel width of padding around tooltip text
    tooltipYPadding: 6,

    // Number - pixel width of padding around tooltip text
    tooltipXPadding: 6,

    // Number - Size of the caret on the tooltip
    tooltipCaretSize: 8,

    // Number - Pixel radius of the tooltip border
    tooltipCornerRadius: 6,

    // Number - Pixel offset from point x to tooltip edge
    tooltipXOffset: 10,

    // String - Template string for single tooltips
    tooltipTemplate: "<%%if (label){%><%%=label%>: <%%}%><%%= value %>",

    // String - Template string for multiple tooltips
    multiTooltipTemplate: "<%%= datasetLabel %> (<%%= value %>)",

    // Function - Will fire on animation progression.
    onAnimationProgress: function(){},

    // Function - Will fire on animation completion.
    onAnimationComplete: function(){}
}

  </script>
<% end %>
  
    <script>
  jQuery(document).ready(function() {  

    <% if request.original_url.index('campaigns')!=nil %>
    
    $( "#campaign_stoprewardsdate" ).datepicker({ dateFormat: 'yy-mm-dd' });
    
    <% elsif request.original_url.index('entrance')!=nil %>
    $( "#entrance_birthday" ).datepicker({ dateFormat: 'yy-mm-dd' });


    <% end %>

    OpenPay.setId('muen0ypxkc2xgsf6j8sq');
    OpenPay.setApiKey('pk_b3f01aada40446adaa1daef8c2ae4207');
    OpenPay.setSandboxMode(true);
    $('#pay-button').on('click', function(event) {
       event.preventDefault();
       // alert($("#price-"+processPiece).text());
       $("#pay-button").prop( "disabled", true);
       var tform=$('#payment-formc');
       OpenPay.token.extractFormAndCreate('payment-formc', success_callbak, error_callbak);                
    });

    var success_callbak = function(response) {
                  var token_id = response.data.id;
                  $('#beacons_array').val(beaconGroup.toString());
                  $('#beacons_campaign').val($("#select2").val());
                  $('#token_id').val(token_id);
                  $('#payment-formc').submit();
    };
    var error_callbak = function(response) {
         var desc = response.data.description != undefined ? 
            response.data.description : response.message;
         alert("ERROR [" + response.status + "] " + desc);
         $("#pay-button").prop("disabled", false);
    };
});
    <% if request.original_url.index('places/')!=nil %>
    var beaconGroup=[];
    $(function() {
    	if (!$.isFunction($.fn.multiSelect)) {
			return;
		}
		$('#optgroup').multiSelect({
      selectableOptgroup: true,
      afterSelect: function(values){
        beaconGroup.push(values[0]);
      },
      afterDeselect: function(values){
       
        if (beaconGroup.indexOf(values[0])>-1) {
          beaconGroup.splice(beaconGroup.indexOf(values[0]),1);

        }
        
      }
    });
  });

    function requestPriceCalculation(){
       $.post( "/pagos/calculatePrice.json", { beacons:beaconGroup.toString(),campaign:$("#select2").val(),authenticity_token:'<%= form_authenticity_token.to_s %>' })
          .done(function( data ) {
            //number_pieces
            $('#calc_price').val("$ "+data.precio);
            $('#card_monto').val("$ "+data.precio);
            
        });
    }
    <% end %>
    <% if @beacons!=nil %>
    L.mapbox.accessToken = 'pk.eyJ1IjoiYmVja214IiwiYSI6Ik5fU2V5RXcifQ.RKNCgRPUgHxOj3JL86OUEA';
  	var map = L.mapbox.map('map', 'mapbox.streets')
    // mapboxgl.accessToken = 'pk.eyJ1IjoiYmVja214IiwiYSI6Ik5fU2V5RXcifQ.RKNCgRPUgHxOj3JL86OUEA';
    //   var mapOptions={
    //     container: 'map',
    //     zoom:12,
    //     style: 'mapbox://styles/mapbox/streets-v9'
    // };
  	<% if @place!=nil and request.original_url.index('new')==nil %>
      .setView([<%= @place.latitude %>, <%= @place.longitude %>], 12);
    <% elsif @beacon!=nil and request.original_url.index('new')==nil%>
    .setView([<%= @beacon.latitud %>, <%= @beacon.longitud %>], 12);
    <% else %>
      .setView([25.66666, -100.3], 12);
    <% end %>       


  var featureGroup = L.featureGroup().addTo(map);
  var circle_options = {
      color: '#fff',      // Stroke color
      opacity: 1,         // Stroke opacity
      weight: 10,         // Stroke weight
      fillColor: '#000',  // Fill color
      fillOpacity: 0.6,    // Fill opacity
      clickable:true
  };
  <% @beacons.each do |singleBeacon| %>
   L.circle([<%= singleBeacon.latitud %>, <%= singleBeacon.longitud %>], <%= singleBeacon.radio %>,{properties: {id:<%= singleBeacon.id %>,nombre:"<%= singleBeacon.nombre %>",descripcion:"<%= singleBeacon.descripcion %>"}}).addTo(featureGroup).on("click",onClickCircle);
  <% end %>
  featureGroup.eachLayer(function(layer) {

    // here you call `bindPopup` with a string of HTML you create - the feature
    // properties declared above are available under `layer.feature.properties`
    var content = '<h2>'+layer.options.properties.nombre+'<\/h2>' +
        '<p>'+layer.options.properties.descripcion+' <br \/>' +
        '  <\/p>';
    layer.bindPopup(content);
});
  function onClickCircle(e){
  	
  }

  <% if request.original_url.index('places')!=nil %>
  map.on('zoomend', zoom);
  map.on('moveend', update);
  function update(e) {
    console.log(e);
    console.log(map.getCenter());
    $('#place_latitude').val(map.getCenter().lat);
    $('#place_longitude').val(map.getCenter().lng);
    $('#place_zoom').val(map.getZoom());
}
	function zoom(e) {
	    //if (zoommap._loaded) zoommap.setZoom(e.target.getZoom() + 1);
	    $('#place_zoom').val(e.target._animateToZoom);
	}
  <% else %>
  var drawControl = new L.Control.Draw({
    edit: {
      featureGroup: featureGroup
    }
  }).addTo(map);
  map.on('draw:created', function(e) {
      featureGroup.addLayer(e.layer);
      $('#beacon_radio').val(e.layer._mRadius);
      $('#beacon_longitud').val(e.layer._latlng.lng);
      $('#beacon_latitud').val(e.layer._latlng.lat);
  });
  <% end %>
     <% end %>

     <% if request.original_url.index('/logs')!=nil %>
     function destroyLog(mmid){
      $.post( "/analytics/destroy.json", { bid:mmid,authenticity_token:'<%= form_authenticity_token.to_s %>' })
          .done(function( data ) {
            //number_pieces
            alert("Borrado");
            
        });
     }
     <% end %>
     <% if !Rails.env.production? %>
      Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    <% end %>
    <% if request.original_url.index('welcome')!=nil %>
    var pusher = new Pusher('aa50b9b2b70a85ae6cb8', {
      encrypted: true
    });
    var channel = pusher.subscribe('incuvaSite');
    channel.bind('dashboard', function(data) {
      //alert(data.message);
      window.location.href="/welcomes";
    });
    <% end %>
    </script>
</body>

</html>
